<div class="product-details">
    <h1 class="tituloLog">{{product.name}}</h1>
    <div class="flexSingleG">
        <div class="product-content">
            <div class="product-image">
                <img src="{{product.img}}" alt="{{product.name}}">
            </div>
            <div class="product-info">
                <p class="price">${{product.price}}</p>
                <p class="description">{{product.description}}</p>
                <p><strong>Marca:</strong> {{product.brand}}</p>
                <p><strong>Categoría:</strong> {{product.category}}</p>
                <p><strong>Stock:</strong> {{product.stock}}</p>
                <button class="btn btn-primary" data-id="{{product._id}}">
                    <i class="fas fa-shopping-cart"></i> Añadir al carrito
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    document.querySelector('.btn-primary').addEventListener('click', async function() {
        const productId = this.getAttribute('data-id');
        try {
            const response = await fetch('/api/carts/add', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ productId, quantity: 1 }),
            });
            if (response.ok) {
                await rockAlert.success('¡Producto añadido al carrito! ¡Increíble Elección!');
                checkAuth(); // Actualiza el contador del carrito
            } else {
                throw new Error('Error al añadir al carrito');
            }
        } catch (error) {
            console.error('Error:', error);
            await rockAlert.error('Error al añadir al carrito');
        }
    });
</script>